@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* Button component */
@layer components {
  .btn {
    @apply bg-orange text-white px-6 py-3 rounded-md hover:bg-green-700;
  }
}

/* Responsive Design */

@media (max-width: 991px) {

  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem 3rem;
  }

  section {
    padding: 3rem;
  }

}

@media (max-width: 768px) {

  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    border-radius: .5rem;
    background: white;
  }

  .header .navbar.active {
    right: 2rem;
    transition: .4s linear;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

}

@media (max-width: 450px) {

  html {
    font-size: 65%;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

}
